n8n/workflows/04-monthly-report-drive.json
{
  "name": "GovSense AI - 04 Monthly Report to Google Drive",
  "active": false,
  "nodes": [
    {
      "id": "cron-monthly",
      "name": "1st of Month 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 1 * *" }] }
      }
    },
    {
      "id": "fetch-monthly-pdf",
      "name": "GET Monthly PDF Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "url": "={{$env.BACKEND_URL}}/api/report/pdf",
        "method": "GET",
        "qs": { "parameters": [{ "name": "range", "value": "monthly" }] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{$env.N8N_API_KEY}}" }] },
        "options": { "response": { "response": { "responseFormat": "file" } } }
      }
    },
    {
      "id": "upload-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [760, 300],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "=GovSense-Monthly-Report-{{$now.format('yyyy-MM')}}.pdf",
        "driveId": { "mode": "list", "value": "My Drive" },
        "folderId": { "mode": "list", "value": "={{$env.GDRIVE_REPORTS_FOLDER_ID}}" },
        "binaryDataUpload": true,
        "options": {}
      },
      "credentials": { "googleDriveOAuth2Api": { "id": "govsense-gdrive", "name": "GovSense Google Drive" } }
    },
    {
      "id": "notify-admins",
      "name": "Notify Admins",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1020, 300],
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$env.ADMIN_DIGEST_LIST}}",
        "subject": "GovSense AI - Monthly report archived",
        "emailFormat": "html",
        "html": "<p>The monthly sentiment report for {{$now.format('MMMM yyyy')}} has been generated and saved to Google Drive.</p><p><a href=\"{{$json.webViewLink}}\">Open report</a></p>"
      },
      "credentials": { "smtp": { "id": "govsense-smtp", "name": "GovSense SMTP" } }
    }
  ],
  "connections": {
    "1st of Month 06:00": { "main": [[{ "node": "GET Monthly PDF Report", "type": "main", "index": 0 }]] },
    "GET Monthly PDF Report": { "main": [[{ "node": "Upload to Google Drive", "type": "main", "index": 0 }]] },
    "Upload to Google Drive": { "main": [[{ "node": "Notify Admins", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
